/*========== CSS Reset ==========*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*=================================
Custom CSS
==================================*/


/*======= Universal Styling =======*/

* {
    box-sizing: border-box;
}

header {
	margin: 0;
}

header h1 {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.5em;
	font-weight: bold;
	color: #265954;
	vertical-align: baseline;
	text-align: left;
	padding: 0;
	border-bottom: 1.1em solid #265954;
}

header a:hover {
	opacity: 35%;
	font-weight: bolder;
	font-stretch: extra-expanded;
}

.container {
    width: 100%;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-family: 'Qwitcher Grypen', cursive;
}

main figure {
	margin: 0;
}

h2 {
	font-family: 'Qwitcher Grypen', cursive;
	font-size: 4.75em;
	color: #212226;
}

h3 {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.5em;
	font-weight: bold;
	padding: .75em 0 0;
}

h4 {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.063em;
	font-weight: bold;
	line-height: 118%;
	letter-spacing: .02em;
	padding: .9em 0 .25em;
}

p {
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	line-height: 155%;
	color: #212226;
}

/*======= Menu Styling =======*/

.navleft {
	float: left;
	width: 8%;
	vertical-align: top;
	margin: 0;
	padding: 0;
}

#navright {
	float: right;
	width: 86%;
	padding: .9em 2.5% 0 .1%;
	vertical-align: top;
	text-align: right;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: .938em;
}


/*======= Main Styling =======*/

.center img {
	max-width: 100%;
	align-items: center;
	vertical-align: top;
	margin: 0;
}

.center figcaption h2 {
	font-size: 2em;
	text-align: center;
	vertical-align: top;
	padding: 0 4%;
	margin: 0 0 .6em;
}


/*======= Footer Styling =======*/

.ftrnav {
	text-align: center;
}

footer {
	background-color: #ffffff;
	height: 2.1em;
	padding: .3em 0 0;
	font-family: 'Open Sans', sans-serif;
	font-size: .875em;
}

footer nav ul li {
	background-color: #265954;
	padding: 3.5% 0;
	vertical-align: middle;
}

footer nav li a {
	font-size: 1.15em;
	color: #ffffff;
	font-weight: bold;
}

footer p {
	font-size: .4em;
	text-align: right;
	padding: .1em .75%;
}

footer a:hover {
	opacity: 60%;
	text-transform: uppercase;
}

footer ul a {
	text-decoration: none;
	color: #265954;
}

footer ul li a:hover {
	font-weight: bolder;
	letter-spacing: .04em;
}

.byline {
	text-align: center;
}

.byline li {
	clear: both;
	display: block;
	font-family: 'Open Sans', sans-serif;
	font-size: .875em;
	font-weight: bold;
	color: #265954;
	text-align: center;
	margin: 0;
	vertical-align: top;
	padding: 0;
	word-spacing: .05em;
	letter-spacing: .03em;
	line-height: 1.5em;
}

.byline li::after {
	display: none;
}


/*=================================
Events Page
==================================*/

.eventspage h2 {
	font-size: 3.875em;
	font-weight: bolder;
	text-align: right;
	text-shadow: .04em -.02em .02em #ffffff, -.04em .03em .01em #ffffff;
	margin: 0;
	line-height: 55%;
	padding: 0 5% 0;
}

.events {
	margin: 0 8% 2em;
}

.events figure {
	text-align: center;
	border-radius: .25em;
}

img[alt="Creating"] {
	max-width: 100%;
	padding: 1em 0 0;
}

img[alt="Meal Prep"] {
	display: none;
}

img[alt="Dancing"] {
	max-width: 100%;
	padding: 1em 0 0;
}

img[alt="Adult Student"] {
	max-width: 100%;
	padding: 1em 0 0;
}

img[alt="Light Weights"] {
	display: none;
}

img[alt="Adults Stretching"] {
	max-width: 100%;
	padding: 1em 0 0;
}

img[alt="Using Stability Balls"] {
	display: none;
}


/*=================================
About Page
==================================*/

.abtleft {
	display: block;
	float: left;
	width: 100%;
	text-align: left;
}

.abtright {
	display: block;
	float: right;
	width: 100%;
	margin: .5em 0;
}

.abtleft img {
	max-width: 100%;
	margin: 0;
}

.abtleft h2 {
	font-size: 3.5em;
	text-align: right;
	text-shadow: .05em -.03em .02em #ffffff, -.08em .04em .01em #ffffff;
	margin: 0;
	line-height: 14%;
	padding: 0 6% .5em;
}

.abtleft p {
	padding: 0 6%;
	font-size: 1em;
	letter-spacing: .04em;
	line-height: 135%;
	font-weight: bold;
	font-style: italic;
}

.abtright article {
	padding: .5em 6% .75em;
}

.abtright article p {
	line-height: 160%;
	padding: 1em 0 .5em;
}

article p em {
	font-size: 1.25em;
	font-weight: bold;
}

article ul li {
	font-family: 'Open Sans', sans-serif;
	font-size: .9em;
	font-weight: bold;
	line-height: 160%;
	padding: 0 0 .2em;
	text-indent: 8%;
}

.abtmore {
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	line-height: 160%;
	padding: 1em 0;
}

.abtmore > a {
	display: block;
	padding: .3em 2%;
	width: 39%;
	margin: 1.3em 30% 2em;
	text-align: center;
	text-decoration: none;
	color:#212226;
	font-weight: bold;
	border-radius: .5em;
	background-color: rgba(30, 64, 64, 25%);
	border: .1em solid #212226;
}

.abtmore a:hover, a:active {
	color: #ffffff;
	font-weight: bolder;
	background-color:#1e4040;
}

.abtftr {
	clear: both;
}


/*=================================
Contact/Form Page
==================================*/

#contactwrap {
	clear: both;
	background-color: rgba(38, 89, 84, 30%);
	max-width: 100%;
	margin: 0;
	height: auto;
	overflow: auto;
}

#contactwrap h2 {
	font-size: 3.875em;
	font-weight: bolder;
	text-align: right;
	text-shadow: .04em -.02em .02em #ffffff, -.04em .03em .01em #ffffff;
	margin: 0;
	line-height: 55%;
	padding: 0 5% .2em;
}

.contacttext p {
	font-family: 'Open Sans', sans-serif;
	font-size: .875em;
	font-weight: bold;
	font-style: italic;
	text-align: center;
	line-height: 160%;
	padding: 1.5em 10%;
}

.contactform {
	margin: 0 10% 2em;
	text-align: center;
}

.contactform label {
	font-family: 'Open Sans', sans-serif;
	font-size: .813em;
	font-weight: bold;
	text-align: right;
}

.contactname,
.contactemail,
.contactphone {
	text-align: right;
	margin-right: 16%;
}

.contactname input,
.contactemail input,
.contactphone input {
	text-align: left;
	width: 66%;
	margin: .5em 0;
}

.contactform input, textarea {
	font-family: 'Open Sans', sans-serif;
	font-size: .75em;
	text-align: left;
	padding: .125em 2%;
	border: .15em solid rgba(0, 0, 0, 20%);
	border-radius: 5%;
}

.contactform input:hover, textarea:hover {
	border: .13em solid #000000;
}

.contactinquiry {
	margin: 1.5em 0 1em;
}

.contactform textarea {
	font-family: 'Open Sans', sans-serif;
	font-size: .75em;
	border-radius: 1%;
	max-width: 100%;
	padding: .75em 2.5%;
}

.contactsubmit input {
	background: #ffffff;
	border: .15em solid rgb(38, 89, 84);
	padding: .25em 6%;
	font-size: .813em;
	font-weight: bold;
	color: #265954;
	letter-spacing: .08em;
}

.contactsubmit input:hover {
	background: rgba(38, 89, 84, 20%);
	border: .2em solid rgb(38, 89, 84, 45%);
	text-transform: uppercase;
	font-weight: bolder;
}

.contactsubmit input:active {
	background: #265954;
	border: .15em solid #212226;
	color: #ffffff;
	font-weight: bolder;
	text-transform: uppercase;
}

.contactftr {
	background-color: rgba(38, 89, 84, 30%);
	margin: 0;
}

.replytext {
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	color: #212226;
	text-align: center;
	margin: 2em 8%;
	padding: .5em 0;
}

.replytext h1 {
	font-weight: bold;
}


/*=================================
Media Querries
==================================*/


/*======= Small Screens =======*/

@media only screen and (min-width: 320px) {

	#hamitems {
		width: 100%;
		position: sticky;
		top: 0;
	}
	
	#hamitems a {
		box-sizing: border-box;
		display: block;
		width: 100%;
		padding: .625em 2.75%;
		color: #212226;
		font-weight: bold;
		text-decoration: none;
		text-align: right;
	}
	
	#hamitems a:hover {
		opacity: 80%;
		color: #265954;
		font-weight: bolder;
		background-color: #ffffff;
	}
	
	#navright label {
		display: inline-block;
		color: #212226;
		font-size: 2.5em;
		padding: .625em 3% .4em 0;
	}
	
	#hamitems {
		display: none;
	}
	
	#navright input:checked ~ #hamitems {
		display: block;
	}
	
	#hamburger {
		display: none;
	}

}


/*======= Small Devices =======*/

@media only screen and (min-width: 576px) {

	header h1 {
		font-size: 1.5em;
	}

	.center figcaption h2 {
		font-size: 2.5em;
		margin: 0 0 .7em;
	}

	footer nav li a {
		font-size: 1.5em;
		font-weight: bold;
	}


/*------Events Page------*/

	.eventspage h2 {
		font-size: 4em;
	}


/*-------About Page-------*/

	.abtleft h2 {
		font-size: 4em;
		padding: 0 30% .5em 0;
	}

	article ul li {
		text-indent: 15%;
	}

	.abtmore {
		padding: 1.25em 0;
	}
	
	.abtmore > a {
		padding: .3em 1%;
		width: 23%;
		margin: 1.3em 39% 2em;
	}
	
}


/*======= Medium Devices =======*/

@media only screen and (min-width: 768px) {

	#hamitems {
		padding: 2em 0 1em;
		display: flex;
		justify-content: flex-end;
	}

	#hamitems a {
		color: #212226;
		flex-grow: 1 1 auto;
		flex-basis: 0;
	}

	#navright label, #hamburger {
		display: none;
	}

	.navleft {
		width: 10%;
	}

	#navright {
		width: 80%;
		padding: .2em 2.5%;
	}

	header h1 {
		clear: none;
		text-indent: .7em;
		padding: 1em .125% 0;
	}

	.center img {
		padding: 0 10%;
	}

	.center figcaption h2 {
		font-size: 2.625em;
		padding: 0;
		margin: 0 0 .5em;
	}

	footer {
		background-color: #265954;
	}

	footer nav ul li {
		padding: .25em 2.52%;
		display: inline-block;
	}

	footer nav li a {
		font-size: 1em;
	}

	footer p {
		padding: .5em .75% 0;
	}

	.byline li {
		font-size: .8em;
		display: inline-block;
		line-height: .6%;
	}

	.byline li:not(:last-child):after {
		display: contents;
		content: "•";
	}

	
/*------Events Page------*/

	h3 {
		padding: .75em 8% 0;
	}

	h4 {
		letter-spacing: 0;
		padding: .8em 8% .25em;
	}

	p {
		font-size: 1em;
		padding: 0 8% .5em;
	}

	.eventsmain {
		display: flex;
		min-height: 100vh;
		flex-flow: column wrap;
		justify-content: space-around;
	}

	.eventspage h2 {
		font-size: 4.15em;
		padding: 0 5% .2em;
	}

	.events {
		margin: 0 4% 1.5em;
		display: flex;
	}

	.eventscol1 {
		flex: 1 auto;
	}

	.eventscol2 {
		flex: 1 auto;
	}

	.eventscol3 {
		flex: 1 auto;
	}

	img[alt="Creating"] {
		max-width: 80%;
		padding: .5em 0 0;
	}

	img[alt="Meal Prep"] {
		display: unset;
		max-width: 75%;
		padding: .5em 0 0;
	}

	img[alt="Dancing"] {
		max-width: 75%;
		display: none;
	}

	img[alt="Adult Student"] {
		max-width: 65%;
		padding: .5em 0 0;
	}

	img[alt="Light Weights"] {
		display: unset;
		max-width: 85%;
		padding: .5em 0 0;
	}

	img[alt="Adults Stretching"] {
		display: none;
		max-width: 85%;
	}


/*-------About Page-------*/

	.abtleft {
		display: inline-block;
		clear: both;
		width: 35%;
		text-align: right;
	}

	.abtright {
		display: inline-block;
		width: 60%;
	}

	.abtleft h2 {
		font-size: 4.15em;
		padding: 0 0 .5em;
	}

	.abtleft p {
		padding: 0 .5% 1.563em 42%;
		font-size: 1.063em;
		line-height: 160%;
	}

	.abtright article {
		padding: .5em 18% .75em .5%;
	}

	.abtright article p {
		padding: 1em 0 .5em;
	}

	article ul li {
		text-indent: 0;
	}

	.abtmore {
		padding: 1em 0;
	}
	
	.abtmore > a {
		padding: .2em .4%;
		width: 31%;
		margin: 1.3em 34% 2em;
	}

}


/*------Contact Page------*/

	.contactftr {
		background-color: rgb(38, 89, 84);
		margin: 0;
	}


/*======= Large Devices =======*/

@media only screen and (min-width: 992px) {

	header h1 {
		font-size: 1.875em;
		text-indent: 0;
	}

	.center figcaption h2 {
		font-size: 3em;
	}

	footer {
		height: 2.4em;
		padding: .4em 0 0;
	}

	footer p {
		font-size: .5em;
		padding: .95em .75% 0;
	}

	footer nav li a {
		font-size: 1.15em;
	}

	.byline li {
		font-size: .875em;
		line-height: .5%;
	}

	
/*------Events Page------*/

	.eventspage h2 {
		font-size: 4.5em;
		padding: 0 5% 0;
	}

	img[alt="Using Stability Balls"] {
		display: unset;
		max-width: 85%;
		padding: .5em 0 0;
	}


/*-------About Page-------*/

	.abtleft h2 {
		font-size: 4.5em;
	}

	.abtleft p {
		padding: 0 .5% 1.563em 50%;
	}

	.abtright article {
		padding: 1em 27% .75em .5%;
	}

	article p em {
		font-size: 1.32em;
	}

	.abtmore {
		padding: 1.25em 0;
	}
	
	.abtmore > a {
		padding: .3em .5%;
		width: 26%;
		margin: 1.3em 35% 2em;
	}

}


/*======= Extra Lg Devices =======*/

@media only screen and (min-width: 1200px) {

	#navright {
		width: 85%;
		font-size: 1em;
		padding: 0 3%;
	}

	header h1 {
		font-size: 2.063em;
		padding: 0 .05% 0;
		text-indent: -1em;
	}

	.center figcaption h2 {
		font-size: 3.5em;
	}

	footer {
		height: 2.8em;
	}

	footer nav li a {
		font-size: 1.5em;
	}

	footer p {
		font-size: .6em;
	}

	.byline li {
		font-size: 1.063em;
		line-height: .6%;
	}

	
/*------Events Page------*/

	.eventspage h2 {
		font-size: 4.75em;
	}

	.events {
		margin: 0 4% 2em;
	}


/*-------About Page-------*/

	.abtleft h2 {
		font-size: 4.75em;
	}

	.abtleft p {
		padding: 0 .5% 1.563em 55%;
		font-size: 1.188em;
		letter-spacing: .04em;
	}

	.abtright article {
		padding: 2.25em 23% 2em 1.25%;
	}

	.abtright article p {
		font-size: 1.188em;
		padding: 1em 0 .7em;
	}

	article ul li {
		font-size: 1.1em;
		padding: 0 0 .3em;
		text-indent: 15%;
	}

	article p em {
		font-size: 1.5em;
	}

	.abtmore {
		font-size: 1.188em;
		padding: 1.5em 0;
	}
	
	.abtmore > a {
		padding: .2em .5%;
		width: 24%;
		margin: 1.3em 40% 2em;
	}

}
